/*Formatting to make independent page looks nice*/
body {
    font-family: "Open Sans Light", "Lato Light", sans-serif;
    margin: 0px;
    padding: 0px;
}

p, h2, h3, pre, td, tr {
    padding: 0 10px;
    font-size: 1.0em;
}

h1 {
    padding: 0 10px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;      /*Internet Explorer*/
}

#hh {
    color: #fff;
    width: 100vw;
    padding: 15px 0;
    margin: 0 0 1em 0;
    width: 100%;
    background: linear-gradient(to left top, dodgerblue, darkturquoise);
}

/*Android*/
.hide {
    display: none;
}

.phoneAND {
    width: 320px;
    font-family: "Roboto", "Noto", Arial, sans-serif;
    margin: 20px auto;
}

.iconWrapperAND {
    display: block;
    width: 60px;
    position: relative;
    text-align: center;
}

.iconAND{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-top: .1em;
    position: relative;
}

.timestampAND {
    font-size: smaller;
    opacity: 0.5;
}

.headerAND {
    background-color: #1993E6;
    color: #FFFFFF;
    width: 320px;
    font-size: large;
    padding: .5em 0 .5em .5em;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    text-align: left;
    text-transform: capitalize;
    line-height: 30px;
    display: table;
    box-shadow: 0 7px 10px -3px #aaa;
}

.messagebodyAND {
    list-style: none;
    background-color: #EFEDEB;
    margin: -2em 0 0 0;
    padding: .5em 0 .5em 0;
}

.messagebodyAND li {
    padding: .5em;
    overflow: hidden;
    display: flex;
}

.replyWrapperAND{
    margin: 0;
    padding: 0;
}

.replyAND {
    width: 200px;
    background: #FEFEFE;
    color: #000000;
    padding: .7em;
    border-radius: .2em;
    position: relative;
}

.replyAND p {
    margin: 0 0 .2em 0;
}

.replyIconWrapperAND {
    display: block;
    width: 75px;
    position: relative;
    text-align: right;
}

.replyIconWrapperAND::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -.5em;
    width: .5em;
    height: 0;
    border-top: 1em solid #FEFEFE;
    border-right: 1em solid transparent;
}

.textWrapperAND{
    margin: 0;
    padding: 0;
}

.textAND {
    width: 200px;
    background: #1993E6;
    color: #FFFFFF;
    padding: .7em;
    border-radius: .2em;
}

.textAND p {
    margin: 0 0 .2em 0;
}

.textIconWrapperAND {
    display: block;
    width: 75px;
    position: relative;
    text-align: left;
}

.textIconWrapperAND::after {
    content: "";
    position: absolute;
    top: 0;
    right: -.5em;
    width: .5em;
    height: 0;
    border-top: 1em solid #1993E6;
    border-left: 1em solid transparent;
}

/*Twitter*/
.x1F49C:before {
    content: "\1F49C";
}

.x1F604:before {
    content: "\1F604";
}

.x1F609:before {
    content: "\1F609";
}

.twEasy{
    max-width: 300px;
    height: auto;
}

.tw {
    max-width: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: table;
    margin: auto;
}

.twBody {
    overflow: hidden;
    background-color: #ffffff;
    border-style: solid;
    border-width: .1em;
    border-color: #dddddd;
    border-radius: .3em;
    float: left;
    min-width: 100%;
    position:relative;
    padding: 1em;
    margin-left: -1em;
}

.twImage{
    width: 111%;
    height: auto;
    margin: -1em 0em 1em -1em;
}

.twAvatar {
    width: 40px;
    height: auto;
    float: left;
    margin: 0em 0.3em .3em 0em;
    border-radius: 5px;
}

.twIcon {
    width: 17px;
    height: auto;
}

.twFollow {
    position:relative;
    top: -1.7em;
    width: 17px;
    height: auto;
    display: inline-block;
    float: right;
    color: #5EA9DD;
}

.twReplyIcon {
    width: 17px;
    height: auto;
}

.twRetweetIcon {
    width: 22px;
    height: auto;
    margin-right: .1em;
}

.twHeartIcon {
    width: 13px;
    height: auto;
    margin-right: .1em;
}

.twUserName {
    position: relative;
    top: -.2em;
    font-size: 18px;
    font-weight: 500;
}

.twUserHandle {
    position: relative;
    top: -.5em;
    font-size: 16px;
    font-weight: 300;
    color: #697882;
}

.twText {
    display: inline-block;
}

.twTimeStamp {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    font-weight: 300;
    color: #697882;
    padding: .5em 0em .5em 0em;
}

.twRetweet {
    font-size: 14px;
    color: #697882;
    margin: 1em 1em 1em 1em;
}

.twLike {
    font-size: 14px;
    color: #697882;

}

.twLink{
    text-decoration: none;
    color: #2C7BB8;
}

/*FE*/
td {
    vertical-align: middle;
}

td:nth-child(1) {
    width: 128px;
}

.stagedir {
    text-align: center;
    font-style: italic;
}

.imgsize {
    max-width: 95%;
    height: auto;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

summary {
    font-weight: normal;
}

blockquote {
    font-weight: normal;
}

/*Instagram*/

.inst {
    max-width: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: table;
    margin: auto;
}

.instBody {
    overflow: hidden;
    background-color: #ffffff;
    border-style: solid;
    border-width: .1em;
    border-color: #dddddd;
    border-radius: .3em;
    float: left;
    min-width: 100%;
    position:relative;
    padding: .7em;
    margin-left: -1em;
}

.instImage{
    width: 111%;
    height: auto;
    margin: 0em -1em 0em -1em;
}

.instAvatar {
    width: 30px;
    height: auto;
    float: left;
    margin: 0em 0.3em .5em -.1em;
    border-style: solid;
    border-width: .1em;
    border-color: #dddddd;
    border-radius: 50%;
}

.instIcon {
    height: 20px;
    width: auto;
    margin: 0.3em 0.3em 0.1em 0em;
}

.instIconRight {
    height: 20px;
    width: auto;
    float: right;
    margin: 0.3em 0.3em 0.1em 0em;
}

.instHeart {
    height: 10px;
    width: auto;
}

.instUser {
    color: #343436;
    position: relative;
    top: .1em;
    font-size: 16px;
    font-weight: bold;
}

.instText {
    border-top:1px solid #ADADAD;
    margin: .1em 0em .1em 0em;
    padding: .1em 0em .1em 0em;
    display: inline-block;
    font-size: 14px;
}

.instLink {
    color: #135588;
}

.instComments {
    display: inline-block;
    width: 100%;
    color: #ADADAD;
    font-size: 14px;
}

.instTimestamp {
    display: inline-block;
    width: 100%;
    color: #ADADAD;
    text-transform: uppercase;
    font-size: 12px;
}